<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Pack Settings</mat-panel-title>
  </mat-expansion-panel-header>
  <mat-divider></mat-divider>
  <section class="pack-grid">
    <section *ngFor="let category of service.categories">
      <h3>{{ category }} Packs</h3>
      <mat-divider></mat-divider>

      <section class="pack-grid">
        <ng-container *ngFor="let pack of service.packs.value | keyvalue">
          <mat-checkbox
            *ngIf="pack.value.category == category"
            class="pack-toggle"
            [checked]="pack.value.enabled"
            (change)="service.togglePack(pack.value)"
            color="primary"
            >{{ pack.value.name }}</mat-checkbox
          >
        </ng-container>
      </section>
    </section>
  </section>
</mat-expansion-panel>
