<section class="signature">
  <a
    mat-raised-button
    color="primary"
    href="https://simsation.ca"
    aria-label="Link to Simsation.ca"
    class="home-callback"
    >Made with 💖 by Simsation</a
  >
  <span class="social-links">
    <div class="social-buttons">
      <a
        mat-icon-button
        href="https://www.twitch.tv/simsation_nation"
        aria-label="Link to Twitch.tv"
      >
        <i class="fab fa-twitch"></i>
      </a>
      <a
        mat-icon-button
        href="https://www.reddit.com/user/simsation_nation"
        aria-label="Link to Reddit.com"
      >
        <i class="fab fa-reddit-alien"></i>
      </a>
      <a
        mat-icon-button
        href="https://twitter.com/SimsationNation"
        aria-label="Link to Twitter.com"
      >
        <i class="fab fa-twitter"></i>
      </a>
      <a
        mat-icon-button
        href="https://www.youtube.com/user/Simsation_Nation"
        aria-label="Link to YouTube.com"
      >
        <i class="fab fa-youtube"></i>
      </a>
    </div>
    <div class="social-build-gallery">Sims Gallery ID: Simsation_Builds</div>
  </span>
</section>
