.signature {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.social-buttons {
  display: flex;
  justify-content: space-between;

  i {
    font-size: 2em;
    transition: color ease 100ms;
  }

  .fa-twitch:hover {
    color: #9147ff;
  }

  .fa-reddit-alien:hover {
    color: #ff4500;
  }

  .fa-twitter:hover {
    color: #1da1f2;
  }

  .fa-youtube:hover {
    color: #ff0000;
  }
}

@media only screen and (max-width: 26rem) {
  .signature {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .home-callback {
      margin: 0.25em 0 1em 0;
    }
  }
}
