@import "./palettes";
@import "~@angular/material/theming";
@include mat-core();
$simsation-theme: mat-dark-theme(
  (
    color: (
      primary: mat-palette($simsation-primary, 400),
      accent: mat-palette($simsation-accent),
    ),
  )
);

@include angular-material-theme($simsation-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.font-nanum {
  font-family: "Nanum Gothic Coding", monospace !important;
}
