<mat-expansion-panel class="misc-settings">
  <mat-expansion-panel-header>
    <mat-panel-title> Misc. Settings </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-divider></mat-divider>

  <h3>Range of Sims</h3>
  <span class="setting-lbl">
    Between
    <span class="slider-val min">{{ simCountService.min }}</span>
    and
    <span class="slider-val max">{{ simCountService.max }}</span>
    Sims</span
  >
  <section class="range-settings">
    <mat-slider
      thumbLabel="thumbLabel"
      [min]="MIN_SIM_RANGE"
      [max]="simCountService.max"
      [disabled]="simCountService.max == MIN_SIM_RANGE"
      [value]="MIN_SIM_RANGE"
      [step]="SIM_RANGE_STEP"
      tickInterval="1"
      (change)="changeMinSimRange($event)"
      class="slider"
      color="primary"
    ></mat-slider>
    <mat-slider
      thumbLabel="thumbLabel"
      [min]="simCountService.min"
      [max]="MAX_SIM_RANGE"
      [disabled]="simCountService.min == MAX_SIM_RANGE"
      [value]="MAX_SIM_RANGE"
      [step]="SIM_RANGE_STEP"
      tickInterval="1"
      (change)="changeMaxSimRange($event)"
      class="slider"
      color="accent"
    ></mat-slider>
  </section>
  <mat-divider></mat-divider>

  <h3>Range of Simoleons</h3>
  <span class="setting-lbl">
    Between
    <span class="slider-val min">{{ simoleonRangeService.min }}K</span>
    and
    <span class="slider-val max">{{ simoleonRangeService.max }}K</span>
    Simoleons</span
  >
  <section class="range-settings">
    <mat-slider
      thumbLabel="thumbLabel"
      [min]="MIN_SIMOLEON_RANGE"
      [max]="simoleonRangeService.max"
      [disabled]="simoleonRangeService.max == MIN_SIMOLEON_RANGE"
      [value]="MIN_SIMOLEON_RANGE"
      [step]="SIMOLEON_RANGE_STEP"
      tickInterval="1"
      (change)="changeMinSimoleonRange($event)"
      class="slider"
      color="primary"
    ></mat-slider>
    <mat-slider
      thumbLabel="thumbLabel"
      [min]="simoleonRangeService.min"
      [max]="MAX_SIMOLEON_RANGE"
      [disabled]="simoleonRangeService.min == MAX_SIMOLEON_RANGE"
      [value]="MAX_SIMOLEON_RANGE"
      [step]="SIMOLEON_RANGE_STEP"
      tickInterval="1"
      (change)="changeMaxSimoleonRange($event)"
      class="slider"
      color="accent"
    ></mat-slider>
  </section>
</mat-expansion-panel>
