<mat-expansion-panel class="misc-settings">
  <mat-expansion-panel-header>
    <mat-panel-title> Misc. Settings </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-divider></mat-divider>

  <h3>Range of Specials</h3>
  <span class="setting-lbl">
    Between
    <span class="slider-val min">{{ specialService.min }}</span>
    and
    <span class="slider-val max">{{ specialService.max }}</span>
    Specials</span
  >
  <section class="range-settings">
    <mat-slider
      thumbLabel="thumbLabel"
      [min]="MIN_SPECIALS_RANGE"
      [max]="specialService.max"
      [disabled]="specialService.max == MIN_SPECIALS_RANGE"
      [value]="MIN_SPECIALS_RANGE"
      [step]="SPECIAL_RANGE_STEP"
      tickInterval="1"
      (change)="changeMinSpecialRange($event)"
      class="slider"
      color="primary"
    ></mat-slider>
    <mat-slider
      thumbLabel="thumbLabel"
      [min]="specialService.min"
      [max]="MAX_SPECIALS_RANGE"
      [disabled]="specialService.min == MAX_SPECIALS_RANGE"
      [value]="MAX_SPECIALS_RANGE"
      [step]="SPECIAL_RANGE_STEP"
      tickInterval="1"
      (change)="changeMaxSpecialRange($event)"
      class="slider"
      color="accent"
    ></mat-slider>
  </section>
  <mat-divider></mat-divider>

  <h3>Range of Sims</h3>
  <span class="setting-lbl">
    Between
    <span class="slider-val min">{{ simService.min }}</span>
    and
    <span class="slider-val max">{{ simService.max }}</span>
    Sims</span
  >
  <section class="range-settings">
    <mat-slider
      thumbLabel="thumbLabel"
      [min]="MIN_SIM_RANGE"
      [max]="simService.max"
      [disabled]="simService.max == MIN_SIM_RANGE"
      [value]="MIN_SIM_RANGE"
      [step]="SIM_RANGE_STEP"
      tickInterval="1"
      (change)="changeMinSimRange($event)"
      class="slider"
      color="primary"
    ></mat-slider>
    <mat-slider
      thumbLabel="thumbLabel"
      [min]="simService.min"
      [max]="MAX_SIM_RANGE"
      [disabled]="simService.min == MAX_SIM_RANGE"
      [value]="MAX_SIM_RANGE"
      [step]="SIM_RANGE_STEP"
      tickInterval="1"
      (change)="changeMaxSimRange($event)"
      class="slider"
      color="accent"
    ></mat-slider>
  </section>
  <mat-divider></mat-divider>

  <h3>Range of Simoleons</h3>
  <span class="setting-lbl">
    Between
    <span class="slider-val min">{{ simoleonService.min }}K</span>
    and
    <span class="slider-val max">{{ simoleonService.max }}K</span>
    Simoleons</span
  >
  <section class="range-settings">
    <mat-slider
      thumbLabel="thumbLabel"
      [min]="MIN_SIMOLEON_RANGE"
      [max]="simoleonService.max"
      [disabled]="simoleonService.max == MIN_SIMOLEON_RANGE"
      [value]="MIN_SIMOLEON_RANGE"
      [step]="SIMOLEON_RANGE_STEP"
      tickInterval="1"
      (change)="changeMinSimoleonRange($event)"
      class="slider"
      color="primary"
    ></mat-slider>
    <mat-slider
      thumbLabel="thumbLabel"
      [min]="simoleonService.min"
      [max]="MAX_SIMOLEON_RANGE"
      [disabled]="simoleonService.min == MAX_SIMOLEON_RANGE"
      [value]="MAX_SIMOLEON_RANGE"
      [step]="SIMOLEON_RANGE_STEP"
      tickInterval="1"
      (change)="changeMaxSimoleonRange($event)"
      class="slider"
      color="accent"
    ></mat-slider>
  </section>
</mat-expansion-panel>
