.app-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 45rem;
  height: 100%;
  padding: 1rem;
}
