.app-wrapper {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 45rem;
  min-height: 100%;
}
.settings {
  margin: 1rem 0;
}
