@use "sass:map";
@use "../../../styles/palettes";

.border-container,
.presentation-container {
  box-sizing: border-box;
  width: 100%;
  border-radius: 0.25rem;
  background-color: darken(map.get(palettes.$simsation-primary, 400), 20%);
  padding: 0.75rem;
}

.suggestion-text {
  font-size: 2em;
  line-height: 1em;
  white-space: pre-line;
}

.presentation-container {
  position: relative;
  height: 100%;
  min-height: 20rem;
  padding-top: 1rem;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 1px;
  padding-bottom: 3rem;
}

.reaction-container {
  position: absolute;
  right: 0;
  bottom: 1rem;
}

.reaction {
  font-size: 2rem;
  transition: font-size ease 0.1s;
}

.reaction-pop {
  font-size: 3rem;
}

.pulse {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

.action-container {
  position: absolute;
  bottom: -1.2rem;
  left: calc(50% - 1.25rem);
}

button {
  position: sticky;
  align-self: flex-end;
  bottom: 1rem;
  margin-right: 0.25rem;
}
